.button {
    background-color: rgb(219, 191, 150);
    border:  solid 0.2rem rgb(247, 209, 128) ;
    border-radius: 1.5rem;
    cursor: pointer;
}

.conteinerInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input{
    border-radius: 2rem;
    border:  solid 0.2rem rgb(247, 209, 128);
    margin-top: 5px;
}