.conteiner {
    display: flex;
    flex-direction: column;
}

.select {
    background-color: rgb(219, 191, 150);
    border:  solid 0.2rem rgb(247, 209, 128) ;
    border-radius: 1.5rem;
    margin-bottom: 10px;
}